# Gitignore file for Project HomeServer

# Test files and folders
.env*
Test-*/
Test-*
Prod-*
Prod-*/
plex_claim
data/bazarr/*
!data/bazarr/.gitkeep
data/organizr/*
!data/organizr/.gitkeep
data/overseerr/*
!data/overseerr/.gitkeep
data/plex/database/*
!data/plex/database/.gitkeep
data/plex/media/*
!data/plex/media/.gitkeep
data/plex/transcode/*
!data/plex/transcode/.gitkeep
data/prowlarr/*
!data/prowlarr/.gitkeep
data/radarr/*
!data/radarr/.gitkeep
data/sonarr/*
!data/sonarr/.gitkeep
data/qbittorrent/*
!data/qbittorrent/.gitkeep
data/apache_logs/*
!data/apache_logs/.gitkeep
data/tautulli/*
!data/tautulli/.gitkeep
